a {
  color: #003366;
}

body {
  background-color: white;
}

#victor {
  font-family: "Grand Hotel", cursive;
  font-size: 30px;
}

li {
  display: inline;
}

li a {
  padding: 20px;
}

#footer1 li {
  padding: 10px;
  font-size: 10px;
}

.itson {
  background-image: url("static/photos/freelancer-desk.jpg");
  height:1200px !important;
}
