{% extends 'base.html' %} {% load static %} {% load bootstrap4%} {% block content %}
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container">

  <div class="jumbotron text-center" style="background-color:white;">

    <h1 class="h1" style="font-family: 'Grand Hotel', cursive; color:blue;font-size:70px;">Instagram</h1>


  </div>
</div>


<div class="container">
<div class="card mb-3" style="width:40rem;;">
  <img class="card-img-top" src="{{project.project_image.url}}" alt="Card image cap" class="img-fluid" size="100px200">
  <div class="card-body">
    <button class="btn btn-lg btn-danger">Like This Project</button>


    <!--*****************-->
    <!--TESTING LIKE BUTTON-->

    <a href="#" onClick="document.getElementById('likebutton').submit()">Like This Post</a> {{project.likes}}

<form id="likebutton" method="POST" action="/posts/{{project.id}}/preference/1/">
{% csrf_token %}
<input type="hidden">
</form>


    <!--********************-->

    <h5 class="card-title" style="font-family: 'Oswald', sans-serif;"><strong>Name Of Project:</strong>
      <br>
      {{project.title}}</h5>
    <p class="card-text" style="font-family: 'Oswald', sans-serif;"><strong>Caption:</strong>
      <br>
      {{project.description}}</p>
    <p class="card-text" style="font-family: 'Oswald', sans-serif;"><small class="text-muted">Posted by {{project.user}}</small></p>
  </div>

  <div class="card border-secondary">
     <div class="card-header">
     <h5 style="font-family: 'Oswald', sans-serif;">Project Comments</h5>
       </div>


     <div class="card-body text-primary">
         {% if latest_review_list %}

    {% for review in latest_review_list %}
    <div>
        <h4><a href="{% url 'review_detail' review.id %}">
        {{ review.project.title }}
        </a></h4>
        <h6> Design Rating is {{ review.design_rating }} of 5 by {{ review.user }}</h6>
        <h6> Usability Rating is {{ review.usability_rating }} of 5 by {{ review.user }}</h6>
        <h6> Content Rating is {{ review.content_rating }} of 5 by {{ review.user }}</h6>
        <p>{{ review.comment }}</p>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews are available.</p>
{% endif %}



     </div>
   </div>
</div>
</div>



<div class="container mt-2 mx-auto p-5" style="background-color:#ffffff; border: 1px solid #e6e6e6;">
  <h3 style="font-family: 'Oswald', sans-serif;">Add your comment</h3>
  <hr>
  <form action=""  method="post">
    {%csrf_token%} {% bootstrap_form form %}
      <input type="submit" class="btn btn-primary" value="Post">
  </form>
  <hr>
</div>
<div class="container">
    <div class="col-md-12">
      <div class="footer text-center">
        <ul id="footer1">
          <li>ABOUT US</li>
          <li>SUPPORT</li>
          <li>PRESS</li>
          <li>API</li>
          <li>JOBS</li>
          <li>PRIVACY</li>
          <li>TERMS</li>
          <li>DIRECTORY</li>
          <li>PROFILES</li>
          <li>HASHTAGS</li>
          <li>LANGUAGE</li>
          <br>

          <li style="font-size:10px;"> <strong>© 2018 MELISSA MALALA</strong></li>
        </ul>

      </div>

    </div>
  </div>
{% endblock %}